:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.smash {
  background-color: green !important;
}

.pass {
  background-color: red !important;
}

.interactions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;
}

.interaction {
  width: 45%;
}

.hide {
  width: 0 !important;
  height: 0 !important;
  visibility: hidden;
}

.stats {
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 4rem;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.stats > * {
  margin-left: 2rem;
}

.inline {
  display: ruby;
  cursor: pointer;
}

.inline:hover {
  transform: scale(105%);
}

.overlay {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay > h1 {
  margin-left: 1rem;
  width: 30vw;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.character-card {
  border-radius: 2rem;
  overflow: hidden;
  width: 40vw;
  height: 60vh;
  position: relative;
  margin-bottom: 1rem;
}

.character-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-info {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom: 0;
  height: 5rem;
  margin: 0;
  padding: 0 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.character-main-info {
  line-height: 1;
  margin-bottom: 0.5rem;
}

#character-age {
  font-weight: bold;
  font-size: xx-large;
}

#character-name {
  font-size: x-large;
}

.tags {
  display: flex;
  flex-direction: row;
}

.tag {
  display: block;
  text-align: center;
  line-height: 1rem;

  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1rem);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  height: 2rem;
  max-width: 40%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-right: 0.2rem;
}

a.tag {
  color: white;
}

.pointer {
  cursor: pointer;
}

.statEntry {
  display: ruby !important;
}

.statOverlay {
  display: flex;
  flex-direction: column;
}

.smallerOverlay > * {
  display: flex;
}

.smallerOverlay > * > img {
  height: 80px;
}

.smallerOverlay {
  width: 70vw;
  height: 70vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: content-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
